[submodule "freckles/external/freckles_extra_plugins"]
	path = freckles/external/freckles_extra_plugins
	url = https://github.com/makkus/freckles_extra_plugins.git
[submodule "freckles/external/scripts/inaugurate"]
	path = freckles/external/scripts/inaugurate
	url = https://github.com/makkus/inaugurate.git
[submodule "freckles/external/scripts/frankentree"]
	path = freckles/external/scripts/frankentree
	url = https://github.com/makkus/frankentree.git
[submodule "freckles/external/default_role_repo"]
	path = freckles/external/default_role_repo
	url = https://github.com/freckles-io/roles.git
[submodule "freckles/external/default_adapter_repo"]
	path = freckles/external/default_adapter_repo
	url = https://github.com/freckles-io/adapters.git
[submodule "freckles/external/frecklecutables"]
	path = freckles/external/frecklecutables
	url = https://github.com/freckles-io/frecklecutables.git
[submodule "freckles/external/blueprints"]
	path = freckles/external/blueprints
	url = https://github.com/freckles-io/blueprints.git
[submodule "freckles/external/scripts/frocker"]
	path = freckles/external/scripts/frocker
	url = https://github.com/makkus/frocker.git
