[submodule "freckles/external/default_role_repo/makkus.install-nix"]
	path = freckles/external/default_role_repo/makkus.install-nix
        url = https://github.com/makkus/install-nix.git
[submodule "freckles/external/default_role_repo/makkus.install-conda"]
	path = freckles/external/default_role_repo/makkus.install-conda
        url = https://github.com/makkus/install-conda.git
[submodule "freckles/external/default_role_repo/elliotweiser.osx-command-line-tools"]
	path = freckles/external/default_role_repo/elliotweiser.osx-command-line-tools
	url = https://github.com/elliotweiser/ansible-osx-command-line-tools.git
[submodule "freckles/external/default_role_repo/geerlingguy.homebrew"]
	path = freckles/external/default_role_repo/geerlingguy.homebrew
	url = https://github.com/geerlingguy/ansible-role-homebrew.git
[submodule "freckles/external/default_role_repo/makkus.freckles"]
	path = freckles/external/default_role_repo/makkus.freckles
        url = https://github.com/makkus/freckles_ansible.git
[submodule "freckles/external/default_role_repo/makkus.install-pkg-mgrs"]
	path = freckles/external/default_role_repo/makkus.install-pkg-mgrs
	url = https://github.com/makkus/install-pkg-mgrs.git
