pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.4.2
Sphinx==1.6.5
PyYAML==3.12
pytest==3.3.2
nsbl # pyup: ignore
sphinx-autobuild==0.7.1
docutils==0.14
sphinxcontrib-napoleon==0.6.1
sphinx-click-freckles==1.0.4.dev1
#sphinx-nameko-theme==0.0.3
#jast==0.0.4
sphinx_redactor_theme==0.0.1





