## Command-line

<div class="accordion">
    <div class="card">
        <div class="card-header" id="headingCli">
            <h5 class="mb-0">
                <code>frecklecute {{== frecklet_name ==}} --help</code>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCli"
                        aria-expanded="true" aria-controls="collapseCli"><code>[show help output]</code>
                </button>
            </h5>
        </div>
        <div id="collapseCli" class="collapse" aria-labelledby="headingCli" data-parent="#collapseCli">
            <div class="card-body">
                <pre><code>{{== frecklet_name | frecklet_cli_help ==}}</code></pre>
            </div>
        </div>
    </div>
</div>
