Click>=6.0'
jinja2==2.9.6
ansible>=2.2.0'
cookiecutter>=1.5.1'
stevedore>=1.18.0'
py>=1.4.32'
click-log>=0.1.8'
voluptuous>=0.9.3
pip==9.0.1
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.4.1
tox==2.7.0
coverage==4.4.1
Sphinx==1.6.3
sphinx-autobuild==0.7.1
docutils==0.14
cryptography==2.0.3
PyYAML==3.12
pytest==3.2.1
ipython==5.1.0

requests
